<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Authentication</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <div id="container" class="container">
    <!-- FORM SECTION -->
    <div class="row">
      <!-- REGISTER -->
        <form id="register-form" action="/auth/register" method="post" class="col align-items-center flex-col sign-up">
          <div class="form-wrapper align-items-center">
            <div class="form sign-up">
              <div class="input-group" id="full-name">
                <i class='bx bxs-user'></i>
                <input name="fullName" type="text" placeholder="Name" required>
              </div>
              <div class="input-group" id="email">
                <i class='bx bx-mail-send'></i>
                <input name="email" type="email" placeholder="Email" required>
              </div>
              <div class="input-group" id="password">
                <i class='bx bxs-lock-alt'></i>
                <input name="password" type="password" placeholder="Password" minlength="6" required>
              </div>
              <div class="input-group" id="confirm-password">
                <i class='bx bxs-lock-alt'></i>
                <input type="password" placeholder="Confirm password" minlength="6" required>
              </div>
              <button type="submit" id="btn-register">
                Register
              </button>
              <p>
                <span>
                  Already have an account?
                </span>
                <b onclick="toggle()" class="pointer">
                  Login here
                </b>
              </p>
            </div>
          </div>
        </form>
      <!-- END REGISTER -->
      <!-- LOGIN -->
      <div class="col align-items-center flex-col sign-in">
        <div class="form-wrapper align-items-center">
          <form action="/auth/login" method="post" class="form sign-in">
            <div class="input-group" id="email-l">
              <i class='bx bxs-user'></i>
              <input name="email" type="email" placeholder="Email" required>
            </div>
            <div class="input-group" id="password-l">
              <i class='bx bxs-lock-alt'></i>
              <input name="password" type="password" placeholder="Password" minlength="6" required>
            </div>
            <button type="submit" id="btn-login">
              Login
            </button>
            <p>
              <b>
                Forgot password?
              </b>
            </p>
            <p>
              <span>
                Don't have an account?
              </span>
              <b onclick="toggle()" class="pointer">
                Register here
              </b>
            </p>
          </form>
        </div>
        <div class="form-wrapper">

        </div>
      </div>
      <!-- END LOGIN -->
    </div>
    <!-- END FORM SECTION -->
    <!-- CONTENT SECTION -->
    <div class="row content-row">
      <!-- LOGIN CONTENT -->
      <div class="col align-items-center flex-col">
        <div class="text sign-in">
          <h2>
            Welcome
          </h2>

        </div>
        <div class="img sign-in">

        </div>
      </div>
      <!-- END LOGIN CONTENT -->
      <!-- REGISTER CONTENT -->
      <div class="col align-items-center flex-col">
        <div class="img sign-up">

        </div>
        <div class="text sign-up">
          <h2>
            Join with us
          </h2>

        </div>
      </div>
      <!-- END REGISTER CONTENT -->
    </div>
    <!-- END CONTENT SECTION -->
  </div>
</body>
<script src="/js/auth.js"></script>
</html>